html 
  head 
    title='Mi primera plantilla con Pug js '
    body 

      form(action="" method="post")
        input(type="text", 
        name="nombre", 
        placeholder="Ingrese un nombre"
        ) 
        input(type="text",
          name="precio",
          placeholder="Ingrese un precio"       
)
  input(type="text",
    name="imagen",
    placeholder="Ingrese una imagen"       
)
  button(type="submit") 