<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi primera plantilla con Pug js</title>
</head>
<body>
  form(action="" method="post")
    input(type="text", 
    name="nombre", 
    placeholder="Ingrese un nombre"
    ) 
    input(type="text",
      name="precio",
      placeholder="Ingrese un precio"
    )
  input(type="text",
    name="imagen",
    placeholder="Ingrese una imagen"       
  )
  button(type="submit") 
</body>
</html>